
!.vscode/extensions.json
.DS_Store
.idea
.vscode/*
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
# Editor directories and files
# Logs
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
public/covers/starsay/*.mp4
public/covers/starsay/*.webm
yarn-debug.log*
yarn-error.log*
